div[class^='highlight'] pre {
    background-color: #272822 !important;
    color: #f8f8f2 !important;
}

.highlight .nc {
    font-weight: normal !important;
} /* Name.Class */

.highlight .kc {
    font-weight: normal !important;
} /* Keyword.Constant */
